.nav-bg{
    background-image: url("g16.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #013d59ff;
}
@media only screen and (min-width: 600px) {
    
  }
  
html, body{
    background-color: #013d59ff;

   
}
.bg{
        background-color: #013d59ff;
        color: white;
        
}
.contact{
    padding: 1px;
    padding-top: 70px;
    text-align: center;

}

.phone{
    color:#013d59ff;
    background-color: white;
    border-radius: 100px;
    border: 15px solid white;
    font-size:40px;

}
.number{
    text-align: center;
    padding-top:60px;

    font-weight: bolder;
}

.link{
    color: #e41a50ff;
    text-decoration: none; /* no underline */
        
}
h4 a.link{
    color: white;
    text-decoration: none;

}
.padding1{
    padding:1px;
}

.social{
    color:#013d59ff;
    background-color: white;
    border-radius: 25px;
    border: 7px solid white;
    font-size:30px;
}

.social-media{
    text-align: center;
    padding-top: 40px;
}

.bottom{
    float: RIGHT;
    padding-right: 20px;
    position: relative;
    top:5vh;    
    /* position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    padding-right: 20px;
     */
}
.masslink{
    padding-top: 40px;
    font-weight: 600 !important;
 
}
div.bottom h4{
    font-weight:900;
}

.cursor-img{
width: 40px;

}
.cursorDiv{
    position: relative;
    text-align: center;
    padding-left: 250px;
    bottom:30px;

}